@import url(/css/loader.css);
@import url(/css/global.css);

.redirectToIndexButton {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(9, 110, 26);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}